NEXT_PUBLIC_PAGEMINT_APP_URL=http://localhost:3000
NEXT_PUBLIC_PAGEMINT_EXTENSION_URL=https://chromewebstore.google.com/detail/pagemint/clkeafinfphgcfhenakanegeibknecbm
NEXT_PUBLIC_PAGEMINT_PROJECT_NAME=PageMint
